---
layout: single
title: 'Automate Data Tasks With Loops in Python'
excerpt: "Loops can be used to automate data tasks in Python by iteratively executing the same code on multiple data structures. Learn how to automate data tasks in Python using data structures such as lists, numpy arrays, and pandas dataframes."
authors: ['Jenny Palomino', 'Leah Wasser']
category: [courses]
class-lesson: ['intro-loops-tb']
permalink: /courses/intro-to-earth-data-science/write-efficient-python-code/loops/automate-data-tasks-with-loops/
nav-title: "Automate Data Tasks With Loops"
dateCreated: 2019-10-23
modified: '{:%Y-%m-%d}'.format(datetime.now())
module-type: 'class'
chapter: 18
course: "intro-to-earth-data-science-textbook"
week: 7
sidebar:
  nav:
author_profile: false
comments: true
order: 2
topics:
  reproducible-science-and-programming: ['python']
redirect_from:
  - "/courses/earth-analytics-bootcamp/loops/automate-tasks-loops/"
  - "/courses/intro-to-earth-data-science/dry-code-python/loops/automate-data-tasks-with-loops/"
  - "/courses/intro-to-earth-data-science/write-efficient-python-code/automate-data-tasks-with-loops/"
---

{% include toc title="On This Page" icon="file-text" %}

<div class='notice--success' markdown="1">

## <i class="fa fa-graduation-cap" aria-hidden="true"></i> Learning Objectives

After completing this chapter, you will be able to:

* Automate tasks using data structures such as lists, **numpy** arrays, and **pandas** dataframe.
* Add the results of a loop to a new list. 
* Automate data downloads with **earthpy**.
 
</div>


As you have already learned, loops are very useful for removing repetition 
in your code. As such, they are great for automating tasks that you want to 
run on multiple values or data structures. Explore the examples below to see 
how you can automate tasks using data structures such as lists, **numpy** 
arrays, and **pandas** dataframe.


## Automate Calculations on Values in Lists

Recall that in the lessons on variables and lists, you learned how to run 
calculations on individual variables to convert the units, using average monthly 
precipitation values for <a href="https://www.esrl.noaa.gov/psd/boulder/Boulder.mm.precip.html" target="_blank">
    Boulder, Colorado, provided by the U.S. National Oceanic and Atmospheric 
    Administration (NOAA)</a>.

Month  | Precipitation (inches) |
--- | --- |
Jan | 0.70 |
Feb | 0.75 |
Mar | 1.85 |
Apr | 2.93 |
May | 3.05 |
June | 2.02 |
July | 1.93 |
Aug | 1.62 |
Sept | 1.84 |
Oct | 1.31 |
Nov | 1.39 |
Dec | 0.84 |

After you converted each variable, you then manually created a list that 
contained the recalculated values. Using a loop, you can automate this task, 
so that you recalculate each value in an existing list. 

### Create List of Values For Loop

Begin by creating the list upon which your loop will execute.

In [1]:
# Create list of average monthly precip (inches) in Boulder, CO
avg_monthly_precip_in = [0.70,  0.75, 1.85, 2.93, 3.05, 2.02, 
                         1.93, 1.62, 1.84, 1.31, 1.39, 0.84]

### Write Loop

Next, decide on the type of loop that will work best for your goal of running 
a calculation on each item of a list. In this case, you want to convert each item 
in a list from inches to millimeters (recall than 1 inch = 25.4 mm). So you have a 
fixed list of values upon which you want to iterate a calculation. Think about 
whether a `while` or `for` loop would work better for your task. Which type of loop 
structure is used in the code below?

In [2]:
# Convert each item in list from inches to mm
for month in avg_monthly_precip_in:
    month *= 25.4
    print(month)

17.779999999999998
19.049999999999997
46.99
74.422
77.46999999999998
51.308
49.022
41.148
46.736
33.274
35.306
21.336

### Expand Loop To Add Results to New List

In the loop above, each month's value is converted from inches to millimeters 
and the value is printed; however, the new value is not actually captured anywhere, 
as the original list is not updated. You can expand the loop with more code, so that 
each converted value is actually added to a new list. Previously in the textbook, 
you learned how to append items to the end of an existing list using 
`listname += [value]`, which employs an assignment operator to add the new values 
to the end of an existing list. 

You can add do this with your loop with only two new lines of code:
1. First, you create an empty list that will receive new values using `listname = []`. 
2. Then, you can add a new line of code to append each value after it is calculated using `listname.append(value)`.

In [3]:
# Create new empty to receive values
avg_monthly_precip_mm = []

# Convert each item from in to mm and add to new list
for month in avg_monthly_precip_in:
    month *= 25.4 
    avg_monthly_precip_mm.append(month)

You can print the values in both lists to see that the original list has 
not changed, and that the new list contains the converted values.

In [4]:
# Print original list in inches
print(avg_monthly_precip_in) 
    
# Print new list after loop is complete
print(avg_monthly_precip_mm)

[0.7, 0.75, 1.85, 2.93, 3.05, 2.02, 1.93, 1.62, 1.84, 1.31, 1.39, 0.84]
[17.779999999999998, 19.049999999999997, 46.99, 74.422, 77.46999999999998, 51.308, 49.022, 41.148, 46.736, 33.274, 35.306, 21.336]

### Review the List Being Iterated Upon and the Placeholder in Loop

Look carefully at how the variables `avg_monthly_precip_mm` and `month` are created. 
The list variable `avg_monthly_precip_mm` was explicitly created; in this case, 
you manually created the variable `avg_monthly_precip_mm` as an empty list. The variable 
`month` is the placeholder variable, meaning that it was not explicitly created by you. 

Rather, it is created as part of the loop and serves as a placeholder to represent each 
item from the original list (`avg_monthly_precip_in`), as the loop iterates. At the end 
of the loop, the placeholder variable is equal to the last value that it was assigned 
(e.g. `month` is equal to 21.336 when the loop ends).

In [5]:
# Final value of month
month

21.336

## Automate Summary Statistics on Multiple Numpy Arrays

By now, you may be excited that you can automate these kinds of tasks, 
but you may also be thinking that you would prefer to iterate on **numpy** 
arrays or **pandas** dataframes, instead of working with data values in lists.

You can do that, too! For example, you can build a loop that will calculate 
summary statistics (such as the sum or median values) of multiple data structures, 
such as **numpy** arrays. Recall that you can use the functions `np.sum()` and `np.median()` to calculate sum and median values of a **numpy** array.

Begin by creating two **numpy** arrays containing the average monthly precipitation values in 2002 and 2013 for <a href="https://www.esrl.noaa.gov/psd/boulder/Boulder.mm.precip.html" target="_blank">Boulder, Colorado, provided by the U.S. National Oceanic and Atmospheric Administration (NOAA).</a> 

Month  | Precipitation (inches) in 2002 | Precipitation (inches) in 2013 |
--- | --- | --- |
Jan | 1.07 |0.27 |
Feb | 0.44 |1.13 |
Mar | 1.50 |1.72 |
Apr | 0.20 |4.14 |
May | 3.20 |2.66 |
June | 1.18 |0.61 |
July | 0.09 |1.03 |
Aug | 1.44 |1.40 |
Sept |1.52  |18.16 |
Oct | 2.44 |2.24 |
Nov | 0.78 |0.29 |
Dec | 0.02 |0.50 |

In [6]:
# Import necessary packages
import numpy as np

# Array of average monthly precip (inches) for 2002 in Boulder, CO
precip_2002_arr = np.array([1.07, 0.44, 1.50, 0.20, 3.20, 1.18, 
                            0.09, 1.44, 1.52, 2.44, 0.78, 0.02])

# Array of average monthly precip (inches) for 2013 in Boulder, CO
precip_2013_arr = np.array([0.27, 1.13, 1.72, 4.14, 2.66, 0.61, 
                            1.03, 1.40, 18.16, 2.24, 0.29, 0.50])

### Create List of Numpy Arrays For Loop

Just like in the previous example, begin by creating the list upon which your 
loop will iterate. As you want to iterate on multiple **numpy** arrays, you can 
create a list that contains the object names for all of the **numpy** arrays that 
you want to work with in the loop.

In [7]:
# Create list of numpy arrays
arr_list = [precip_2002_arr, precip_2013_arr]

### Write Loop

Again, think about what type of loop would work best for this data. This time, 
you have a list of two object names, upon which you want to iterate a calculation: 
the **numpy** arrays for 2002 and 2013. Which type of loop structure is used in the 
code below?

In [8]:
# Calculate sum and median for each numpy array in list
for arr in arr_list:    
    arr_sum = np.sum(arr)
    print("sum:", arr_sum)
    
    arr_median = np.median(arr)    
    print("median:", arr_median)

sum: 13.879999999999999
median: 1.125
sum: 34.15
median: 1.265

Again, you can capture these values in new, separate lists by defining empty 
lists and using the assignment operator (`listname += [value]`) to add the results 
to each list.

In [9]:
# Create new empty lists to receive values
monthly_precip_sum = []
monthly_precip_median = []

# Calculate sum and median for each numpy array and add to new lists
for arr in arr_list:    
    arr_sum = np.sum(arr)
    monthly_precip_sum.append(arr_sum)
    
    arr_median = np.median(arr)    
    monthly_precip_median.append(arr_median)

### Review the List Being Iterated Upon and the Placeholder in Loop

In the example above, you explicitly created both `monthly_precip_sum` and 
`monthly_precip_median` as empty lists to which the loop results could be appended. 
So at the end of the loop, they are no longer empty, as they have been populated with 
the results of each iteration of the loop.

In [10]:
# Lists contain the calculated values
print(monthly_precip_sum)
print(monthly_precip_median)

[13.879999999999999, 34.15]
[1.125, 1.265]

The variable `arr` is the placeholder variable that is created as part 
of the loop and serves as a placeholder to represent each item from the 
original list (`arr_list`), as the loop iterates. At the end of the loop, 
`arr` is equal to the last value that it was assigned (e.g. 
`precip_2013_arr`, the last array in the list).

Similarly, at the end of the loop, `arr_sum` and `arr_median` are also equal
to the last value that was calculated for each (e.g. the sum and median values 
for `precip_2013_arr`.

In [11]:
# Final value of arr
print(arr)

# Final value of arr_sum
print(arr_sum)

# Final value of arr_median
print(arr_median)

[ 0.27  1.13  1.72  4.14  2.66  0.61  1.03  1.4  18.16  2.24  0.29  0.5 ]
34.15
1.265

## Automate Calculation on Multiple Columns in Pandas Dataframe

In addition to running a loop on multiple data structures (e.g multiple 
**numpy** arrays like in the previous example), you can also run loops on 
multiple columns of a **pandas** dataframe. For example, you may need to 
convert the measurement units of multiple columns, such as converting the 
precipitation values from inches to millimeters (1 inch = 25.4 millimeters). 

Begin by creating a new **pandas** dataframe of the same average monthly 
precipitation values in 2002 and 2013 for Boulder, CO.

In [12]:
# Import necessary packages
import pandas as pd

# Average monthly precip (inches) in 2002 and 2013 for Boulder, CO
precip_2002_2013_df = pd.DataFrame(columns=["month", "precip_2002", "precip_2013"],
                                   data=[
                                        ["Jan", 1.07, 0.27],   ["Feb", 0.44, 1.13],
                                        ["Mar", 1.50, 1.72],   ["Apr", 0.20, 4.14],
                                        ["May", 3.20, 2.66],   ["June", 1.18, 0.61],
                                        ["July", 0.09, 1.03],  ["Aug", 1.44, 1.40],
                                        ["Sept", 1.52, 18.16], ["Oct", 2.44, 2.24],
                                        ["Nov", 0.78, 0.29],   ["Dec", 0.02, 0.50]
                                   ])

precip_2002_2013_df

   month  precip_2002  precip_2013
0    Jan         1.07         0.27
1    Feb         0.44         1.13
2    Mar         1.50         1.72
3    Apr         0.20         4.14
4    May         3.20         2.66
5   June         1.18         0.61
6   July         0.09         1.03
7    Aug         1.44         1.40
8   Sept         1.52        18.16
9    Oct         2.44         2.24
10   Nov         0.78         0.29
11   Dec         0.02         0.50

### Create List of Column Names

Just like in the previous examples, begin by creating the list upon which your 
loop will iterate. As you want to iterate on multiple columns in a **pandas** 
dataframe, you can create a list that contains the column names that you want to 
work with in the loop.

In [13]:
# Create a list of column names
cols = ["precip_2002", "precip_2013"]

### Write Loop

Once again, think about what type of loop would work best for this data. 
You have two columns in one **pandas** dataframe upon which you want to iterate 
a calculation: 2002 and 2013. Recall from previous chapters that you can use assignment 
operators recalculate columns in **pandas** dataframe: 

`df["column_name"] *= 25.4` 

What do you notice about the syntax below that is a little different?

In [14]:
# Convert values for each column in cols list
for column in cols:    
    precip_2002_2013_df[column] *= 25.4

# Print new values    
precip_2002_2013_df

   month  precip_2002  precip_2013
0    Jan       27.178        6.858
1    Feb       11.176       28.702
2    Mar       38.100       43.688
3    Apr        5.080      105.156
4    May       81.280       67.564
5   June       29.972       15.494
6   July        2.286       26.162
7    Aug       36.576       35.560
8   Sept       38.608      461.264
9    Oct       61.976       56.896
10   Nov       19.812        7.366
11   Dec        0.508       12.700

### Review the List Being Iterated Upon and the Placeholder in Loop

Note that because `column` is an implicit variable or placeholder for the 
columns in the list, you do not need to use quotations `""` to indicate a 
specific column name in the loop such as `"precip_2002"`. 

In the first iteration, `column` would contain the values in the `precip_2002` 
column, while in the last iteration, `column` would contain the values in the 
`precip_2013` column. You know you are using an implicit variable because the 
column name will change with each iteration. Also, notice the placement of code 
`precip_2002_2013` to display the dataframe *after* the loop is completed. 

This code is not contained with the loop, so you do not see the dataframe each time that the loop iterates. You only see the dataframe when the loop is completed.

## Automate Data Downloads Using EarthPy

Imagine that you have multiple URLs from which you need to download data 
for a workflow. Rather than writing out the same code to download each 
file at time, you can use a loop to download all of these files using one set of code. 

Begin by importing the necessary package, **earthpy**, which is needed to access the 
`get_data()` function. You will also use **os** to print the contents of the default 
data directory.

In [15]:
# Import necessary packages
import os
import earthpy as et

### Create List of URLs For Loop

Just like in the previous examples, begin by creating the list upon 
which your loop will iterate. As you want to iterate on multiple URLs, 
you can create a list that contains the URLs for all of the files that 
you want to download.

In this case, it is useful to create variables for the individual URLs first, 
so that you can easily manage them as well as make the code more readable.

In [16]:
# URL for avg monthly precip (inches) for Boulder, CO
avg_month_precip_url = 'https://ndownloader.figshare.com/files/12565616'

# URL for precip data for 2002 and 2013 (inches) for array
precip_2002_2013_url = 'https://ndownloader.figshare.com/files/12707792'

# Create list of URLs
urls = [avg_month_precip_url, precip_2002_2013_url]

### Write Loop

Once again, think about what type of loop would work best for this task. 
You have a list of URLs upon which you want to iterate some code, which 
in this case is `et.data.get_data()` to download each file.

In [17]:
# Download each url in list
for file_url in urls:
    et.data.get_data(url=file_url)

### Review the List Being Iterated Upon and the Placeholder in Loop

Note that in order for `et.data.get_data()` to execute successfully, 
you must specify that the parameter `url` for the function is equal 
to the placeholder, which in this example is `file_url`. 

This is a specific requirement of this function, as `et.data.get_data(url)` 
will result in an error that `url` is not a valid key for a dataset in 
**earthpy** (see more details in the
<a href="https://earthpy.readthedocs.io/en/latest/gallery_vignettes/get_data.html#sphx-glr-gallery-vignettes-get-data-py" target="_blank">code examples for earthpy</a>).

```
KeyError: "Key not found in earthpy.io.DATA_URLS
```

With the correct syntax shown in the example above, the loop will execute 
`et.data.get_data(url=file_url)` successfully on the URLs provided in the 
list. In the first iteration, `file_url` is set to `avg_month_precip_url`, 
and then in the last iteration, `file_url` is set to `precip_2002_2013_url`.


### Check Files in Directory

You can see that when using `et.data.get_data()` in a loop, you no longer 
get the path printed for each downloaded file. However, you can use another 
function from the **os** package to list the contents (i.e. files and 
subdirectories) of a directory: `os.listdir()`. Recall that by default, 
**earthpy** downloads files to a subdirectory called `earthpy-downloads` 
under the `data` directory in the `earth-analytics` directory (e.g. 
`earth-analytics/data/earthpy-downloads/`).

With this knowledge, you can define a path to this directory and provide 
that path to the function `os.listdir()` to list out the contents of that 
directory. The files that you downloaded with the loop above will be listed 
in the contents of the directory.

In [18]:
# Create path for data directory
data_dir = os.path.join(et.io.HOME, 
                        "earth-analytics", 
                        "data", 
                        "earthpy-downloads")

os.listdir(data_dir)

['MCD15A3H-thomas-2018213__2018243.json',
 'MCD15A3H-thomas-2014335__2014365.json',
 'glv_snow_interp_erickson_ss_calib_20160511.ky.data.tif',
 'avg-monthly-temp-fahr',
 'boulder-climbing.dbf',
 'MCD15A3H-thomas--2017091--2017120.json',
 'MCD15A3H-thomas-2018213-2018243.json',
 'MCD15A3H-thomas-2016001-2016031.json',
 'MCD15A3H-thomas-2014244__2014273.json',
 'gap-modis-lai',
 'MCD15A3H-camp-2017091__2017120.json',
 'MCD15A3H-thomas-2017032-2017059.json',
 'MCD15A3H-thomas-2018121__2018151.json',
 'ca-fires-yearly',
 'plot-func.py',
 'MCD15A3H-thomas-2016061-2016091.json',
 'matilija-pdsi',
 'MCD15A3H-thomas-2017244-2017273.json',
 'MCD15A3H-camp-2019060__2019090.json',
 'MCD15A3H-thomas-2015213-2015243.json',
 'fire-modis-lai',
 'MCD15A3H-thomas-2017121-2017151.json',
 'MCD15A3H-camp-2019152__2019181.json',
 'MCD15A3H-thomas-2018305__2018334.json',
 'MCD15A3H-thomas-2015091__2015120.json',
 'MCD15A3H-thomas-2014091-2014120.json',
 'MCD15A3H-thomas-2017060__2017090.json',
 'MCD15A3H-thomas-2015274-2015304.json',
 'MCD15A3H-thomas-2014213__2014243.json',
 'MCD15A3H-thomas-2015335-2015365.json',
 'MCD15A3H-thomas-2018335__2018365.json',
 'sd_9.png',
 'boulder-temp-2017.txt',
 'MCD15A3H-thomas--2016275--2016305.json',
 'MCD15A3H-camp-2016275__2016305.json',
 'peekaboo-fire-perimeter',
 'MCD15A3H-camp-2017032__2017059.json',
 'MCD15A3H-thomas--2017032--2017059.json',
 'MCD15A3H-thomas-2018244__2018273.json',
 'MCD15A3H-thomas-2017152__2017181.json',
 'MCD15A3H-thomas-2016245-2016274.json',
 'MCD15A3H-thomas-2014121__2014151.json',
 'MCD15A3H-camp-2016306__2016335.json',
 'MCD15A3H-camp-2015060__2015090.json',
 'sd_8.png',
 'MCD15A3H-thomas--2015060--2015090.json',
 'MCD15A3H-thomas--2016306--2016335.json',
 'MCD15A3H-thomas-2015032__2015059.json',
 'MCD15A3H-thomas--2015152--2015181.json',
 'MCD15A3H-thomas-2014305__2014334.json',
 'MCD15A3H-thomas-2016183__2016213.json',
 'MCD15A3H-thomas-2018274-2018304.json',
 'MCD15A3H-camp-2015152__2015181.json',
 'MCD15A3H-thomas-2018335-2018365.json',
 'MCD15A3H-thomas-2014182-2014212.json',
 'sdl_discharge',
 'MCD15A3H-thomas-2016122__2016152.json',
 'NEON_D13_NIWO_DP3_454000_4432000_reflectance.h5',
 'MCD15A3H-thomas-2018182__2018212.json',
 'glv_snow_interp_erickson_ss_calib_20100512.ky.data.tif',
 'MCD15A3H-thomas-2014305-2014334.json',
 '.DS_Store',
 'high-park-modis-lai',
 'peekaboo-modis-lai',
 'MCD15A3H-camp-2019001__2019031.json',
 '175425c25d8849b58feb89483ef02961_1.csv',
 'unknown_data-modis-lai',
 'glv_snow_interp_erickson_ss_calib_20090512.ky.data.tif',
 'download-perimeter-func.py',
 'MCD15A3H-thomas--2018274--2018304.json',
 'Camp-modis-Lai_500m',
 'MCD15A3H-camp-2018274__2018304.json',
 'MCD15A3H-thomas-2017001__2017031.json',
 'matilija-modis-lai',
 'MCD15A3H-thomas-2014182__2014212.json',
 'NEON_Field_Site_Metadata_20220224.csv',
 'MCD15A3H-thomas--2015001--2015031.json',
 'MCD15A3H-thomas-2016336__2016366.json',
 'MCD15A3H-camp-2015001__2015031.json',
 'RDS-2013-0009.5_SQLITE',
 'glv_snow_interp_erickson_ss_calib_20110511.ky.data.tif',
 'MCD15A3H-thomas--2014274--2014304.json',
 'MCD15A3H-camp-2015274__2015304.json',
 'MCD15A3H-thomas--2015274--2015304.json',
 'glv_elev.ky.data.tif',
 'MCD15A3H-camp-2017182__2017212.json',
 'MCD15A3H-thomas--2017182--2017212.json',
 'MCD15A3H-thomas-2014335-2014365.json',
 'glv_snow_interp_erickson_ss_calib_20130522.ky.data.tif',
 'MCD15A3H-thomas--2014001--2014031.json',
 'MCD15A3H-thomas-2015091-2015120.json',
 'glv_snow_interp_erickson_ss_calib_20140515.ky.data.tif',
 'MCD15A3H-thomas-2014274-2014304.json',
 '06730500-usgs-stream-data',
 'MCD15A3H-thomas-2017060-2017090.json',
 'alb_discharge',
 'MCD15A3H-thomas-2015182__2015212.json',
 'MCD15A3H-thomas-2017274__2017304.json',
 'MCD15A3H-thomas-2018091-2018120.json',
 'MCD15A3H-camp-2016214__2016244.json',
 'MCD15A3H-thomas--2016214--2016244.json',
 'glv_snow_interp_erickson_ss_calib_20060511.ky.data.tif',
 'MCD15A3H-thomas--2016061--2016091.json',
 'months.txt',
 'MCD15A3H-camp-2016061__2016091.json',
 'MCD15A3H-thomas-2016092-2016121.json',
 'MCD15A3H-thomas-2016001__2016031.json',
 'jan',
 'MCD15A3H-thomas-2017001-2017031.json',
 'MCD15A3H-camp-2019274__2019304.json',
 'glv_snow_interp_erickson_ss_calib_20190517.ky.data.tif',
 'nwis_gauge_data.json.gz',
 'MCD15A3H-camp-2018001__2018031.json',
 'MCD15A3H-thomas-2017152-2017181.json',
 'MCD15A3H-thomas--2018001--2018031.json',
 'Camp-perimeter',
 'usda-fire-data.csv',
 'ca-fires-1992-2015-gt-100-acres.csv',
 'naip-before-after',
 'high-park-fire-perimeter',
 'download-modis-func.py',
 'glv_snow_interp_erickson_ss_calib_20050510.ky.data.tif',
 'MCD15A3H-thomas-2014213-2014243.json',
 'camp-fire_perimeter',
 'MCD15A3H-thomas-2018091__2018120.json',
 'MCD15A3H-thomas-2014032__2014059.json',
 'MCD15A3H-thomas--2014152--2014181.json',
 'MCD15A3H-thomas-2015305__2015334.json',
 'MCD15A3H-thomas-2016122-2016152.json',
 'monthly-precip-mm-1998-to-2017.csv',
 'MCD15A3H-thomas-2016032__2016060.json',
 'MCD15A3H-thomas-2015121__2015151.json',
 'MCD15A3H-thomas--2017213--2017243.json',
 'MCD15A3H-camp-2017213__2017243.json',
 'MCD15A3H-thomas--2014060--2014090.json',
 'thomas-modis-lai',
 'MCD15A3H-camp-2017305__2017334.json',
 'SpringCreek-modis-lai',
 'MCD15A3H-thomas--2017305--2017334.json',
 'blueberry-fire-perimeter',
 'MCD15A3H-thomas-2015213__2015243.json',
 'MCD15A3H-thomas--2017121--2017151.json',
 'wolverine-fire-perimeter',
 'boulder-climbing.shx',
 'MCD15A3H-camp-2017121__2017151.json',
 'MCD15A3H-camp-2018152__2018181.json',
 'MCD15A3H-camp-2017244__2017273.json',
 'MCD15A3H-thomas-2018032__2018059.json',
 'MCD15A3H-thomas--2017244--2017273.json',
 'MCD15A3H-thomas--2018152--2018181.json',
 'MCD15A3H-thomas-2014091__2014120.json',
 'gl4_discharge',
 'MCD15A3H-thomas-2015305-2015334.json',
 'MCD15A3H-camp-2017335__2017365.json',
 'MCD15A3H-thomas-2016153__2016182.json',
 'LE70220491999322EDC01_stack.gtif?raw=true',
 'MCD15A3H-thomas--2017335--2017365.json',
 'MCD15A3H-thomas--2018060--2018090.json',
 'MCD15A3H-thomas-2015182-2015212.json',
 'MCD15A3H-thomas--2016092--2016121.json',
 'MCD15A3H-camp-2018060__2018090.json',
 'MCD15A3H-camp-2016092__2016121.json',
 'avg-precip-months-seasons.csv',
 'MCD15A3H-thomas-2016306-2016335.json',
 'MCD15A3H-thomas-2015244__2015273.json',
 'avg-monthly-precip.txt',
 'LE70220491999322EDC01_stack.gtif',
 'MCD15A3H-thomas-2018182-2018212.json',
 'matilija-wbd-boundary',
 'boulder-climbing.cpg',
 'MCD15A3H-thomas-2015335__2015365.json',
 'MCD15A3H-thomas-2018305-2018334.json',
 'camp-fire-perimeter',
 '{fire_name}-fire-perimeter',
 'glv_snow_interp_erickson_ss_calib_20170601.ky.data.tif',
 'boulder-climbing.shp',
 'MCD15A3H-thomas-2016245__2016274.json',
 'MCD15A3H-thomas--2014091--2014120.json',
 'MCD15A3H-thomas-2018152__2018181.json',
 'MCD15A3H-thomas-2017244__2017273.json',
 'MCD15A3H-thomas--2018032--2018059.json',
 'MCD15A3H-camp-2018032__2018059.json',
 'MCD15A3H-camp-2019305__2019334.json',
 'MCD15A3H-thomas-2016092__2016121.json',
 'MCD15A3H-thomas-2018060__2018090.json',
 'MCD15A3H-thomas-2017335__2017365.json',
 'MCD15A3H-camp-2019121__2019151.json',
 'MCD15A3H-thomas--2016153--2016182.json',
 'thomas-fire-perimeter',
 'MCD15A3H-camp-2016153__2016182.json',
 'MCD15A3H-camp-2015244__2015273.json',
 'MCD15A3H-thomas--2015244--2015273.json',
 'WBD_18_HU2_Shape',
 'MCD15A3H-thomas--2016245--2016274.json',
 'MCD15A3H-camp-2015335__2015365.json',
 'MCD15A3H-thomas--2015335--2015365.json',
 'MCD15A3H-camp-2016245__2016274.json',
 'MCD15A3H-camp-2019213__2019243.json',
 'MCD15A3H-camp-2016032__2016060.json',
 'MCD15A3H-thomas--2016032--2016060.json',
 'MCD15A3H-camp-2015305__2015334.json',
 'glv_snow_interp_erickson_ss_calib_20070510.ky.data.tif',
 'MCD15A3H-camp-2018091__2018120.json',
 'MCD15A3H-thomas--2015305--2015334.json',
 'MCD15A3H-thomas-2014152__2014181.json',
 'MCD15A3H-thomas--2014032--2014059.json',
 'MCD15A3H-thomas--2018091--2018120.json',
 'precip-2002-2013-months-seasons.csv',
 'MCD15A3H-thomas-2014060__2014090.json',
 'MCD15A3H-thomas-2017213__2017243.json',
 'landsat-coldsprings-hw',
 'MCD15A3H-thomas--2015121--2015151.json',
 'MCD15A3H-camp-2015121__2015151.json',
 'mar_discharge',
 'MCD15A3H-thomas-2016183-2016213.json',
 'MCD15A3H-thomas-2017305__2017334.json',
 'glv_snow_interp_erickson_ss_calib_20150514.ky.data.tif',
 'MCD15A3H-camp-2019244__2019273.json',
 'glv_snow_interp_erickson_ss_calib_20180531.ky.data.tif',
 'MCD15A3H-thomas-2016214-2016244.json',
 'MCD15A3H-camp-2019335__2019365.json',
 'wolverine-modis-lai',
 'MCD15A3H-thomas-2017121__2017151.json',
 'MCD15A3H-thomas--2015213--2015243.json',
 'NEON_D13_NIWO_DP3_445000_4433000_reflectance.h5',
 'MCD15A3H-camp-2015213__2015243.json',
 'glv_snow_interp_erickson_ss_calib_20120428.ky.data.tif',
 'monthly-precip-2002-2013.csv',
 'MCD15A3H-thomas-2018001__2018031.json',
 'MCD15A3H-thomas-2018032-2018059.json',
 'MCD15A3H-thomas-2015121-2015151.json',
 'MCD15A3H-thomas-2017213-2017243.json',
 'MCD15A3H-thomas-2015244-2015273.json',
 'MCD15A3H-thomas-2014001-2014031.json',
 'MCD15A3H-thomas-2018244-2018273.json',
 'MCD15A3H-thomas-2018121-2018151.json',
 'MCD15A3H-thomas-2016032-2016060.json',
 'MCD15A3H-thomas-2015032-2015059.json',
 'MCD15A3H-camp-2019182__2019212.json',
 '07126390-usgs-stream-data',
 'MCD15A3H-thomas-2014152-2014181.json',
 'MCD15A3H-thomas-2017182__2017212.json',
 'dec',
 'MCD15A3H-thomas-2015274__2015304.json',
 'MCD15A3H-thomas-2014060-2014090.json',
 'City_of_Boulder_City_Limits.geojson',
 'MCD15A3H-thomas-2014001__2014031.json',
 'multi-panel.py',
 'MCD15A3H-camp-2017274__2017304.json',
 'MCD15A3H-thomas--2017274--2017304.json',
 'matilija-boundary',
 'MCD15A3H-camp-2015182__2015212.json',
 'MCD15A3H-thomas--2015182--2015212.json',
 'MCD15A3H-thomas-2017274-2017304.json',
 'MCD15A3H-thomas--2016001--2016031.json',
 'MCD15A3H-camp-2016001__2016031.json',
 'MCD15A3H-thomas-2016061__2016091.json',
 'download-second-fire.py',
 'MCD15A3H-thomas-2017335-2017365.json',
 'MCD15A3H-thomas-2016214__2016244.json',
 'MCD15A3H-thomas--2017001--2017031.json',
 'MCD15A3H-camp-2017001__2017031.json',
 'OSMP_Climbing_Formations.csv',
 'gap-fire-perimeter',
 'sd_3.png',
 'CARR-modis-lai',
 'sd_15.png',
 'MCD15A3H-thomas--2014182--2014212.json',
 'boundaries-hu18',
 'sd_14.png',
 'MCD15A3H-thomas--2016336--2016366.json',
 'sd_2.png',
 'MCD15A3H-thomas-2015001__2015031.json',
 'MCD15A3H-camp-2016336__2016366.json',
 'MCD15A3H-thomas-2014274__2014304.json',
 'ne_110m_admin_0_countries',
 'MCD15A3H-camp-2016122__2016152.json',
 'MCD15A3H-thomas--2016122--2016152.json',
 'nwis-downloads',
 'MCD15A3H-thomas-2016336-2016366.json',
 'sd_0.png',
 'MCD15A3H-thomas--2018182--2018212.json',
 'MCD15A3H-camp-2018182__2018212.json',
 'MCD15A3H-thomas-2016153-2016182.json',
 'MCD15A3H-thomas-2017182-2017212.json',
 'SpringCreek-fire-perimeter',
 'sd_1.png',
 'MCD15A3H-thomas-2018274__2018304.json',
 'MCD15A3H-thomas-2017305-2017334.json',
 'MCD15A3H-thomas--2018335--2018365.json',
 'MCD15A3H-camp-2018335__2018365.json',
 'MCD15A3H-thomas--2014213--2014243.json',
 'MCD15A3H-camp-2017060__2017090.json',
 'MCD15A3H-thomas--2017060--2017090.json',
 'camp-modis-lai',
 'sd_5.png',
 'boulder-san-fran-precip',
 'MCD15A3H-thomas--2017152--2017181.json',
 'MCD15A3H-thomas--2018244--2018273.json',
 'MCD15A3H-thomas-2015060-2015090.json',
 'MCD15A3H-thomas-2017032__2017059.json',
 'flake-ans-setup.py',
 'MCD15A3H-camp-2018244__2018273.json',
 'MCD15A3H-camp-2017152__2017181.json',
 'sd_13.png',
 'MCD15A3H-thomas-2016275__2016305.json',
 'cold-springs',
 'MCD15A3H-thomas-2015060__2015090.json',
 'MCD15A3H-thomas-2016306__2016335.json',
 'MCD15A3H-thomas-2018060-2018090.json',
 'sd_12.png',
 'MCD15A3H-thomas--2014121--2014151.json',
 'CARR-fire-perimeter',
 'MCD15A3H-thomas-2017091-2017120.json',
 'sd_4.png',
 'MCD15A3H-camp-2015032__2015059.json',
 'MCD15A3H-camp-2019091__2019120.json',
 'MCD15A3H-thomas--2016183--2016213.json',
 'MCD15A3H-thomas--2014305--2014334.json',
 'MCD15A3H-thomas-2015152__2015181.json',
 'MCD15A3H-thomas--2015032--2015059.json',
 'MCD15A3H-camp-2016183__2016213.json',
 '09105000-usgs-stream-data',
 'modis_lai',
 'MCD15A3H-thomas-2014121-2014151.json',
 'MCD15A3H-thomas-2014244-2014273.json',
 'MCD15A3H-thomas--2014335--2014365.json',
 'MCD15A3H-thomas-2018001-2018031.json',
 'MCD15A3H-camp-2018213__2018243.json',
 'matilija-lai-mean.csv',
 'MCD15A3H-thomas--2018213--2018243.json',
 'glv_snow_interp_erickson_ss_calib_20080513.ky.data.tif',
 'MCD15A3H-thomas-2018152-2018181.json',
 'sd_6.png',
 'MCD15A3H-thomas--2014244--2014273.json',
 'MCD15A3H-thomas-2017091__2017120.json',
 'sd_10.png',
 '07106300-usgs-stream-data',
 'flake-setup.py',
 'sd_11.png',
 'glv_snow_interp_erickson_ss_calib_20040512.ky.data.tif',
 'MCD15A3H-thomas-2015152-2015181.json',
 'MCD15A3H-camp-2018121__2018151.json',
 'sd_7.png',
 'MCD15A3H-thomas--2018121--2018151.json',
 'MCD15A3H-thomas-2015001-2015031.json',
 'MCD15A3H-thomas-2014032-2014059.json',
 'sd.gif',
 'MCD15A3H-thomas-2016275-2016305.json',
 'MCD15A3H-thomas--2015091--2015120.json',
 'MCD15A3H-thomas--2018305--2018334.json',
 'MCD15A3H-camp-2015091__2015120.json',
 'MCD15A3H-camp-2019032__2019059.json',
 'MCD15A3H-camp-2018305__2018334.json']

Congratulations - you have automated your first tasks in this textbook using **Python**!